/* template for file disproduct */

@namespace context url('%namespace%') ;


/* element="description" detail="footnote" chain="footnote" */

description[detail=footnote], div.description.footnote {
    display: block ;
}

/* element="descriptioncontent" detail="" chain="" */

descriptioncontent, div.descriptioncontent {
    display: inline ;
}

/* element="descriptionsymbol" detail="footnote" chain="" */

descriptionsymbol[detail=footnote], div.descriptionsymbol.footnote {
    display: inline ;
}

/* element="descriptiontag" detail="" chain="" */

descriptiontag, div.descriptiontag {
    display: inline ;
}

/* element="document" detail="" chain="" */

document, div.document {
    display: block ;
}

/* element="float" detail="figure" chain="figure" */

float[detail=figure], div.float.figure {
    display: block ;
}

/* element="float" detail="table" chain="table" */

float[detail=table], div.float.table {
    display: block ;
}

/* element="floatcaption" detail="" chain="" */

floatcaption, div.floatcaption {
    display: inline ;
}

/* element="floatcontent" detail="" chain="" */

floatcontent, div.floatcontent {
    display: inline ;
}

/* element="floatlabel" detail="figure" chain="" */

floatlabel[detail=figure], div.floatlabel.figure {
    display: inline ;
}

/* element="floatlabel" detail="table" chain="" */

floatlabel[detail=table], div.floatlabel.table {
    display: inline ;
}

/* element="floatnumber" detail="figure" chain="" */

floatnumber[detail=figure], div.floatnumber.figure {
    display: inline ;
}

/* element="floatnumber" detail="table" chain="" */

floatnumber[detail=table], div.floatnumber.table {
    display: inline ;
}

/* element="floattext" detail="" chain="" */

floattext, div.floattext {
    display: inline ;
}

/* element="image" detail="" chain="" */

image, div.image {
    display: inline ;
}

/* element="item" detail="" chain="" */

item, div.item {
    display: block ;
}

/* element="itemcontent" detail="" chain="" */

itemcontent, div.itemcontent {
    display: inline ;
}

/* element="itemgroup" detail="itemize" chain="itemize" */

itemgroup[detail=itemize], div.itemgroup.itemize {
    display: block ;
}

/* element="itemtag" detail="" chain="" */

itemtag, div.itemtag {
    display: inline ;
}

/* element="line" detail="" chain="" */

line, div.line {
    display: inline ;
}

/* element="lines" detail="lines" chain="lines" */

lines[detail=lines], div.lines.lines {
    display: block ;
}

/* element="link" detail="" chain="" */

link, div.link {
    display: inline ;
}

/* element="list" detail="" chain="" */

list, div.list {
    display: block ;
}

/* element="listcontent" detail="" chain="" */

listcontent, div.listcontent {
    display: inline ;
}

/* element="listitem" detail="btx-apa" chain="" */

listitem[detail=btx-apa],
div.listitem.btx-apa {
    display: block ;
}

=======
<<<<<<< HEAD
/* element="listitem" detail="btx-apa" chain="" */

listitem[detail=btx-apa], div.listitem.btx-apa {
    display: block ;
}

<<<<<<< HEAD
=======
=======
>>>>>>> f176431605e1cdcf3fa604b0b00566e8c3e8a071
>>>>>>> 03ad5174e8cd67f51ac9da26ba5fb7db76687226
>>>>>>> e9e833bc36732b99fa3e791d3445b1321deb40a0
/* element="listitem" detail="chapter" chain="" */

listitem[detail=chapter], div.listitem.chapter {
    display: block ;
}

/* element="listitem" detail="section" chain="" */

listitem[detail=section], div.listitem.section {
    display: block ;
}

/* element="listitem" detail="subsection" chain="" */

listitem[detail=subsection], div.listitem.subsection {
    display: block ;
}

/* element="listpage" detail="" chain="" */

listpage, div.listpage {
    display: inline ;
}

/* element="listtag" detail="" chain="" */

listtag, div.listtag {
    display: inline ;
}

/* element="register" detail="index" chain="index" */

register[detail=index], div.register.index {
    display: block ;
}

/* element="registercontent" detail="" chain="" */

registercontent, div.registercontent {
    display: inline ;
}

/* element="registerentries" detail="" chain="" */

registerentries, div.registerentries {
    display: block ;
}

/* element="registerentry" detail="" chain="" */

registerentry, div.registerentry {
    display: block ;
}

/* element="registerfrompage" detail="" chain="" */

registerfrompage, div.registerfrompage {
    display: inline ;
}

/* element="registerlocation" detail="index" chain="" */

registerlocation[detail=index], div.registerlocation.index {
    display: inline ;
}

/* element="registerpage" detail="" chain="" */

registerpage, div.registerpage {
    display: inline ;
}

/* element="registerpagerange" detail="" chain="" */

registerpagerange, div.registerpagerange {
    display: inline ;
}

/* element="registerpages" detail="" chain="" */

registerpages, div.registerpages {
    display: inline ;
}

/* element="registersection" detail="" chain="" */

registersection, div.registersection {
    display: block ;
}

/* element="registerseparator" detail="" chain="" */

registerseparator, div.registerseparator {
    display: inline ;
}

/* element="registertag" detail="" chain="" */

registertag, div.registertag {
    display: inline ;
}

/* element="registertopage" detail="" chain="" */

registertopage, div.registertopage {
    display: inline ;
}

/* element="section" detail="chapter" chain="chapter" */

section[detail=chapter], div.section.chapter {
    display: block ;
}

/* element="section" detail="section" chain="section" */

section[detail=section], div.section.section {
    display: block ;
}

/* element="section" detail="subject" chain="subject" */

section[detail=subject], div.section.subject {
    display: block ;
}

/* element="section" detail="subsection" chain="subsection" */

section[detail=subsection], div.section.subsection {
    display: block ;
}

/* element="section" detail="subsubsection" chain="subsubsection" */

section[detail=subsubsection], div.section.subsubsection {
    display: block ;
}

/* element="section" detail="title" chain="title" */

section[detail=title], div.section.title {
    display: block ;
}

/* element="sectioncontent" detail="" chain="" */

sectioncontent, div.sectioncontent {
    display: block ;
}

/* element="sectionnumber" detail="" chain="" */

sectionnumber, div.sectionnumber {
    display: inline ;
}

/* element="sectiontitle" detail="" chain="" */

sectiontitle, div.sectiontitle {
    display: inline ;
}

/* element="sup" detail="" chain="" */

sup, div.sup {
    display: inline ;
}

/* element="table" detail="" chain="" */

table, div.table {
    display: block ;
}

/* element="tablecell" detail="" chain="" */

tablecell, div.tablecell {
    display: inline ;
}

/* element="tablerow" detail="" chain="" */

tablerow, div.tablerow {
    display: block ;
}