/* styles for file disproduct */

@namespace context url('%namespace%') ;


document, div.document {
    font-size  : 12pt !important ;
    max-width  : 443.24582pt !important ;
    text-width : justify !important ;
    hyphens    : inherited !important ;
}
