/* template for file disproduct */

@namespace context url('%namespace%') ;


/* element="delimited" detail="blockquote-1" chain="" */

delimited[detail=blockquote-1], div.delimited.blockquote-1 {
    display: inline ;
}

/* element="delimitedcontent" detail="" chain="" */

delimitedcontent, div.delimitedcontent {
    display: inline ;
}

/* element="description" detail="footnote" chain="footnote" */

description[detail=footnote], div.description.footnote {
    display: block ;
}

/* element="descriptioncontent" detail="" chain="" */

descriptioncontent, div.descriptioncontent {
    display: inline ;
}

/* element="descriptionsymbol" detail="footnote" chain="" */

descriptionsymbol[detail=footnote], div.descriptionsymbol.footnote {
    display: inline ;
}

/* element="descriptiontag" detail="" chain="" */

descriptiontag, div.descriptiontag {
    display: inline ;
}

/* element="document" detail="" chain="" */

document, div.document {
    display: block ;
}

/* element="float" detail="table" chain="table" */

float[detail=table], div.float.table {
    display: block ;
}

/* element="floatcontent" detail="" chain="" */

floatcontent, div.floatcontent {
    display: inline ;
}

/* element="item" detail="" chain="" */

item, div.item {
    display: block ;
}

/* element="itemcontent" detail="" chain="" */

itemcontent, div.itemcontent {
    display: inline ;
}

/* element="itemgroup" detail="itemize" chain="itemize" */

itemgroup[detail=itemize], div.itemgroup.itemize {
    display: block ;
}

/* element="itemtag" detail="" chain="" */

itemtag, div.itemtag {
    display: inline ;
}

/* element="link" detail="" chain="" */

link, div.link {
    display: inline ;
}

/* element="section" detail="chapter" chain="chapter" */

section[detail=chapter], div.section.chapter {
    display: block ;
}

/* element="section" detail="section" chain="section" */

section[detail=section], div.section.section {
    display: block ;
}

/* element="section" detail="subsection" chain="subsection" */

section[detail=subsection], div.section.subsection {
    display: block ;
}

/* element="section" detail="subsubsection" chain="subsubsection" */

section[detail=subsubsection], div.section.subsubsection {
    display: block ;
}

/* element="sectioncontent" detail="" chain="" */

sectioncontent, div.sectioncontent {
    display: block ;
}

/* element="sectionnumber" detail="" chain="" */

sectionnumber, div.sectionnumber {
    display: inline ;
}

/* element="sectiontitle" detail="" chain="" */

sectiontitle, div.sectiontitle {
    display: inline ;
}

/* element="sup" detail="" chain="" */

sup, div.sup {
    display: inline ;
}