/* styles for file teze */

@namespace context url('%namespace%') ;


document, div.document {
    font-size  : 12pt !important ;
    max-width  : 369.88583pt !important ;
    text-width : justify !important ;
    hyphens    : inherited !important ;
}
